<div class="sidebar">
	<div class="block-content" id="intro">
		<h2><%= link_to "Blogger Meritocracy", posts_path %></h2>

		<p>Simple Blog Changes Your Life.</p>

        <div class="login"><%= link_to "Users? Login Here!", admin_path%></div>
	</div><!--block-content-->
	
	<div class="block-content"  id="search">
		<%= link_to "BlogCast Archive", archives_path %>

		<form method="get" action="/search">
			<fieldset>
				<input name="request" type="text"/>
				<input name="site search" value="http://domain.com/blog" type="hidden"/>
			</fieldset>
		</form>
	</div><!--block-content-->
	
	<p class="subscribe"><a href="#">Subscribe ^_^</a></p>



</div><!--sidebar-->